    <div  class="row">
      <div class="col-md-6">
        <div class="panel panel-default google">
          <div class="panel-heading">Google</div>
          <div class="panel-body">
            <div id="result_google">
              <% @arr[0][:google].each do |test|%>
                <h4><a href="http://<%= test[:dns]%>"> <%= test[:name]%><br/> </a></h4>
                <%= test[:dns]%><br/>
                <p><%= test[:description]%></p><br/>
                <br/>
              <% end %>
            </div>
          </div>
        </div><!-- /panel panel-defaut bing -->
      </div><!-- /col-md-6 -->

      <div class="col-md-6">
        <div class= "panel panel-default bing">
          <div class="panel-heading">Bing</div>
          <div class="panel-body">
            <div id="result_bing">
              <% @arr[1][:bing].each do |test|%>
                <h4><a href="http://<%= test[:dns]%>"> <%= test[:name]%><br/> </a></h4>
                <%= test[:dns]%><br/>
                <p><%= test[:description]%></p><br/>
                <br/>
              <% end %>
            </div>
          </div>
        </div><!-- /panel panel-defaut bing -->
      </div><!-- /col-md-6 -->

    </div><!-- row -->
